apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume-deployment
  labels:
    app: resume
spec:
  replicas: 3
  selector:
    matchLabels:
      app: resume
  template:
    metadata:
      labels:
        app: resume
    spec:
      containers:
      - name: resume
        image: dkflora/my-portfolio:latest
        ports:
        - containerPort: 80
      - name: nginx-proxy   # Sidecar container for reverse_proxy
        image: nginx:latest
        ports:
        - containerPort: 80
        
---
apiVersion: v1
kind: Service
metadata:
  name: resume-service
  labels:
    app: resume
spec:
  type: LoadBalancer
  selector:
    app: resume
  ports:
    - name: http
      port: 80
      targetPort: 80

